.page-main__intro {
  margin-bottom: 100px;
  margin-top: -194px;
}

.page-main__rooms {
  margin-bottom: 200px;
}

.page-main__about {
  margin-bottom: 220px;
}

.page-main__video {
  margin-bottom: 100px;
}

.page-main__calendar {
  margin-bottom: 150px;
}

@media (max-width: @md-width) {
  .page-main__about {
    margin-bottom: 100px;
  }
}

@media (max-width: @sm-width) {
  .page-main__intro {
    margin-top: -336px;
    margin-bottom: 30px;
  }

  .page-main__video {
    display: none;
  }

  .page-main__about {
    margin-bottom: 50px;
  }

  .page-main__calendar {
    margin-bottom: 30px;
  }
}
