.rooms__list {
  .list-reset();

  display: flex;
  flex-direction: row;
}

.rooms__title {
  margin: 0;
  margin-bottom: 100px;
  padding: 0;
  font-size: 28px;
  text-align: center;
}

.rooms__list {
  margin-bottom: 100px;
}

.rooms__vip-list {
  .list-reset();
  display: flex;
  margin: 0 auto;
    // flex-direction: row;
    // justify-content: center;
    // align-items: center;
}

.rooms__vip-list-item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
    margin: 0 auto;
}

.rooms__vip-list-wrapper {
  display: flex;
  flex-direction: row;
  width: 1000px;
}

.rooms__vip-info-wrapper {
  display: flex;
  flex-direction: column;

  padding-left: 40px;
  padding-top: 50px;

  border:3px solid @mainGreen;
  border-left: none;
}

.rooms__vip-title {
  margin: 0;
  padding: 0;
  font-size: 25px;
  font-weight: normal;
}

.rooms__vip-description {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.rooms__vip-list-image {
  width: 640px;
  height: 480px;
}

.rooms__vip-list-toggle {
  width: 100px;
  height: 100px;
}

.rooms__vip-futures-list {
  padding-left: 17px;
  margin-bottom: 69px;

  list-style: disc;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
}

.rooms__vip-price {
  margin-bottom: 50px;
  align-self: center;

  font-size: 25px;
  font-family: "Montserrat", "Arial", sans-serif;
}

.rooms__vip-order-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: center;
  width: 200px;
  padding: 5px 20px;

  background-color: @buttonYellow;
  text-decoration: none;
  color: @textGray;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: bold;
}

@media (max-width: @xl-width) {
  .rooms__list {
    flex-direction: column;
  }

  .rooms__list-item {
    margin-bottom: 20px;
  }

  .rooms__vip-list-wrapper{
    flex-direction: column;
    width: auto;
  }

  .rooms__vip-list-image {
    width: 500px;
    height: 200px;
  }

  .rooms__vip-info-wrapper {
    box-sizing: border-box;
    width: 500px;
    border-left:3px solid @mainGreen;
  }
}

@media (max-width: @md-width) {
  .rooms__vip-list-toggle {
    display: none;
  }
}

@media (max-width: @sm-width) {
  .rooms__vip-info-wrapper {
    width: auto;
  }

  .rooms__title {
    margin-bottom: 30px;
  }

  .rooms__list {
    margin-bottom: 10px;
  }
}
